@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital@1&display=swap');
@import "tailwindcss";

:root{
    font-family: "Oswald", sans-serif;
    background-color: #000000;
    scroll-behavior: smooth;
}
#about-span span {
    color: #ccffcc; /* Very light lime */
    transition: color 0.1s, font-weight 0.3s;
}

#about-span span:hover {
    color: #99ff99; /* Slightly darker lime */
    font-weight: 200;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
